<%- include('_header')%>
<div class="container">
  <h1 class="mb-4 mt-4 text-center">Edit Article</h1>
  <form action="/articles/<%= article.id%>?_method = PUT" method="POST">
    <%- include ('_form')%>
    
  </form>
</div>
<%- include('_footer')%>